
<div class="hrLine"><%#= time_ago_in_words(output.created_at)%>Ontem</div>
<div class="outputWidget">
<div class="outputWidgetIcon"><p><%= input.value %></p></div>

<p><%= input.title %></p>
</div>
