<div id="allContent">
   <div id="message">
      <a href="#">Fechar</a>
      <p id="messageText">Welcone to Labone!</p>
   </div>
   <div id="menu" class="row">
      <div id="wraperSupRow" class="row">
         <div class="logo">LabOne</div>
         <div class="rightContainer menuIcon">
            <a href="#">&#9776;</a>
         </div>
      </div>
      <div class="row" id="userInformation">
         
      </div>
      <div id="wraperMenu" class="row">
         <nav>
         <ul>
            <li class="menuOption" id="saidasIcon">
               <a href="#">
                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 203.307 203.307" style="enable-background:new 0 0 203.307 203.307;" xml:space="preserve">
                     <g>
                        <g>
                           <polygon style="fill:#FFF;" points="155.272,92.946 101.654,39.321 48.035,92.946 52.287,97.209 98.644,50.852 98.644,203.307 104.667,203.307 104.667,50.859 151.013,97.209     "/>
                           <polygon style="fill:#FFF;" points="18.077,0 18.077,167.15 89.389,167.15 89.389,163.149 22.085,163.149 22.085,4.005 181.226,4.005 181.226,163.149 113.915,163.149 113.915,167.15 185.231,167.15 185.231,0    "/>
                        </g>
                     </g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                  </svg>
                  <p>Saídas</p>
               </a>
            </li>
            <li class="menuOption">
               <a href="#">
                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 441.658 441.658" style="enable-background:new 0 0 441.658 441.658;" xml:space="preserve">
                     <g>
                        <g>
                           <path style="fill:#FFF;" d="M143.286,239.468c-3.178,3.178-3.178,8.307,0,11.494l71.8,71.792 c0.748,0.764,1.65,1.341,2.634,1.764c1,0.415,2.048,0.626,3.121,0.626c1.065,0,2.113-0.211,3.113-0.626 c0.984-0.423,1.878-1,2.634-1.764l71.808-71.792c3.17-3.186,3.17-8.332,0-11.494c-3.186-3.186-8.316-3.186-11.494,0L228.97,297.4 V8.129c0-4.495-3.633-8.129-8.129-8.129c-4.503,0-8.129,3.633-8.129,8.129V297.4l-57.924-57.932 C151.602,236.281,146.473,236.281,143.286,239.468z"/>
                           <path style="fill:#FFF;" d="M386.111,94.828h-85.342c-4.495,0-8.129,3.642-8.129,8.129c0,4.487,3.633,8.129,8.129,8.129h77.213 v314.316H63.675V111.085h79.619c4.487,0,8.129-3.642,8.129-8.129c0-4.487-3.642-8.129-8.129-8.129H55.547 c-4.487,0-8.129,3.642-8.129,8.129v330.573c0,4.495,3.642,8.129,8.129,8.129h330.565c4.495,0,8.129-3.633,8.129-8.129V102.957 C394.24,98.47,390.606,94.828,386.111,94.828z"/>
                        </g>
                     </g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                  </svg>
                  <p>Entradas</p>
               </a>
            </li>
            <li class="menuOption active">
               <a href="#">
                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 202.108 202.108" style="enable-background:new 0 0 202.108 202.108;" xml:space="preserve">
                     <g>
                        <g>
                           <g>
                              <path style="fill:#FFF;" d="M179.531,16.187V0h-7.333v16.184h-26.394V0h-7.329v16.184h-29.45V0h-7.329v16.184H71.128V0h-7.329 v16.184H34.477V0h-7.329v16.184H1.029v185.925H201.08V16.187H179.531z M194.43,195.459H7.689V64.19H194.43V195.459z M194.43,57.548H7.689V22.837h19.455V39.7h7.329V22.837h29.322V39.7h7.329V22.837h30.567V39.7h7.329V22.837h29.45V39.7h7.329 V22.837h26.394V39.7h7.333V22.837h14.899v34.711H194.43z"/>
                           </g>
                           <g>
                              <polygon style="fill:#FFF;" points="152.833,103.117 147.941,97.667 93.796,146.225 61.919,113.883 56.705,119.036 93.474,156.346      "/>
                           </g>
                        </g>
                     </g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                  </svg>
                  <p>Agenda
               </a>
               </a>
            </li>
            <li class="menuOption" >
               <a href="#">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 201.607 201.607" style="enable-background:new 0 0 201.607 201.607;" xml:space="preserve">
                     <g>
                        <g>
                           <path style="fill:#FFF;" d="M59.584,4.305L0,51.099v146.203h146.189v-0.351l55.311-49.184V4.491l0.107-0.186H59.584z
                              M61.535,9.806h57.068L73.252,51.099H10.529L61.535,9.806z M140.695,191.805H5.504V56.61h135.191V191.805z M142.374,51.099H81.43
                              l45.355-41.293h60.669L142.374,51.099z M195.999,145.291l-49.807,44.285V55.064l49.807-45.623V145.291z"/>
                           <rect x="49.553" y="75.882" style="fill:#FFF;" width="49.088" height="5.501"/>
                        </g>
                     </g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                     <g></g>
                  </svg>
                  <p>Estoque</p>
               </a>
            </li>
         </ul>
      </div>
   </div>
   <section class="allHeight" id="calendarContainer">
      <div class="logo">
         <span class="menuIcon" >
         <a href="#">&#9776;</a>
         </span>
         <span>LabOne</span>
      </div>
      <div class="rightContainer" id="yearText">2015</div>
   </section>
   <section id="containerBooking" class="allHeight" style="display: ">
      <header>
         <h3 id="dateTitle"></h3>
         <span id="addIcon" class="rightContainer">
         </span>
      </header>
      <div id="bookings">
         <div class="bookingItem">
            <div class="headerBookingItem">
               07:40<br>às<br>9:20
            </div>
            <div class="informationBookingItem">
               Turma de Medicina<br>
               Professor: Carlos de Andrade<br>
               Número de alunos: 35<br>
               Itens para aula: 45
            </div>
         </div>
         <div class="bookingItem">
            <div class="headerBookingItem">
               09:30<br>às<br>10:40
            </div>
            <div class="informationBookingItem">
               Turma de enfermagem<br>
               Professora: Malvina<br>
               Número de alunos: 30<br>
               Itens para aula: 41
            </div>
         </div>
         <div class="bookingItem">
            <div class="headerBookingItem">
               19:00<br>às<br>20:40
            </div>
            <div class="informationBookingItem">
               Turma de enfermagem<br>
               Professora: Joana Bitencourt<br>
               Número de alunos: 39<br>
               Itens para aula: 4
            </div>
         </div>
         <div class="bookingItem">
            <div class="headerBookingItem">
               20:50<br>às<br>10:40
            </div>
            <div class="informationBookingItem">
               Turma de Fisioterapia<br>
               Professora: Joana Bitencourt<br>
               Número de alunos: 35<br>
               Itens para aula: 23
            </div>
         </div>
         <div class="bookingItem">
            <div class="headerBookingItem">
               20:50<br>às<br>10:40
            </div>
            <div class="informationBookingItem">
               Turma de Fisioterapia<br>
               Professora: Joana Bitencourt<br>
               Número de alunos: 35<br>
               Itens para aula: 23
            </div>
         </div>
      </div>
   </section>
   <section id="bookingItemForm" class="allHeight" >
      <h3 id="date">&rarr;&nbsp;Nova reserva de horário</h3>
      <div id="bookingItemFormWraper" >
         
         <%= render 'form' %>

      </div>
   </section>
</div>
<div id="calendar"></div>
<script src="/assets/js/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/calendar.css">
<script src="/assets/js/jquery-ui.js"></script>
<script>
   function showMessage( text ){
   
    
    
      $("#messageText").text( text );
      $("#message").slideDown();
   
      $("#message").delay(10000).slideUp();
   
    
   
   }
   
   function validateFields(){
   
   
   
    //Campo de hora
    var time = $("#time").val();
    var regex = /^[0-2][0-9]:[0-5][0-9]-[0-2][0-9]:[0-5][0-9]$/;
   
    if( time.match(regex) == null){
      showMessage("Por favor, verifique o campo de horário para o agendamento. Use o seguinte formato: hh:mm-hh:mm. Exemplo: 19:00-20:40");
      $("#time").focus();
   
      return false;
    }
   
    return true;
   }
   
   
   
   var listItems = [];
   var currentId = 0;
    
   
    //Adiciona item a lista
    $("#addItem").click(function(){
   
   
      var id = $("#item_id_field").val(); 
      currentId = id ;
      var amout  = $("#itemAm").val();
      var name = $("#itemsAutocomplete").val();
   
      if( listItems.indexOf( id ) != -1){
        showMessage("Parece que já existe este item na lista. Você precisa excluí-lo caso queira cadastrar uma nova quantidade para o mesmo item.");
        return;
      }
   
      alert("Caputre o id aqui.Padrão=01");
   
      if( id < 0 )
        return;
   
      var line = document.createElement("tr");
      var td1 = document.createElement("td");
      var td2 = document.createElement("td");
      var td3 = document.createElement("td");
      var td4 = document.createElement("td");
      var input = document.createElement("input");
      input.type="hidden";
      input.value= id+"-"+amout;
      input.name = "ADICIONAR NAME";  
      td1.appendChild(input);
      td2.appendChild( document.createTextNode( name ));
      td3.appendChild( document.createTextNode( amout ));
   
      var link = document.createElement("a");
      link.href="#";
      link.appendChild( document.createTextNode("X"));
   
      //Retira item da lista
      link.onclick = function(){
            
        
          $(this).parent().parent().remove();
          var position = listItems.indexOf( currentId );
          if( position > -1)
            listItems.splice( position, 1);               
   
      }
   
   
      td4.classList.add("exclude");
      td4.appendChild( link );
   
   
      line.appendChild(td1);
      line.appendChild(td2);
      line.appendChild(td3);
      line.appendChild(td4);
      
   
   
      //Adicionando linha
      $("#items").append(line);
   
      listItems.push(id);
   
   
      //Rolando tela para baixo
      var c = document.getElementById("bookingItemForm");
              c.scrollTop = c.scrollHeight;
   
              //zerando valores 
              $("#itemsAutocomplete").val("");
              $("#itemAm").val("1");
              $("#itemsAutocomplete").focus();
   
   
   
    });
   
    
    
    var daysOfWeek = ["Domingo","Segunda","Terça","Quarta","Quinta","Sexta","Sábado"]
    var months =  ["Janeiro","Fevereiro","Março","Abril","Maio","Junho","Julho","Agosto","Setembro","Outubro","Novembro","Dezembro"];
   
       $('#calendar').datepicker({
           inline: true,
           nextText: "",
           prevText: "",
           firstDay: 0,
           showOtherMonths: true,
           dayNamesMin: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
           monthNames: months,
           dateFormat: "dd/mm/yy",
   
   
           onSelect: function(dataText){
   
   
   
                    var date = $(this).datepicker("getDate"); 
                    var dayOfWeek = daysOfWeek[date.getUTCDay()];
                    
                    
                    var parts = dataText.split("/");
                    
                    //alert(parseInt(parts[1]));
                    $("#date").html( " →Nova Reserva: "+dayOfWeek + ", " + parts[0] + " de " + months[parseInt(parts[1])-1] + " ");
                    
                    $("#bookingDate").val("23");
   
                    $("#yearText").text(parts[2]);
   
                    $("#bookingDate").val( dataText );
   
   
      }
       });
   
       $(".logo").click(function( event ){
   
                      $("html").toggleClass( "activeMenu" );
                      event.preventDefault();
              });
              $(".menuIcon a").click(function( event ){
        $("html").toggleClass( "activeMenu" );
        //return false;
              });
   
              document.documentElement.onclick = function( event ){
               //Evitando propagação de evento
               if(event.target == document.documentElement)
                   document.documentElement.classList.remove( "activeMenu" );
           }
   
   
          
   
           $(".cancel").click(function(){
   
            $("#containerBooking").css("display","block");
            $("#bookingItemForm").css("right","-150%");
            return false;
            
           });
   
           $("#confirm").click(function( e ){
            if( validateFields())
              $("#bookingItemForm form").submit();
            else
     
            return false;
           });
   
   
            $("#message a").click(function(){
   
            $("#message").css("display","none");
           });
   
   
   
           //Adicionar reserva
           $("#addIcon").click(function(){
   
            //atualizando valor para o form
            $(".ui-state-active").trigger("click");
   
   
            $("html").addClass("activeBookingItemForm");
            $("#containerBooking").css("display","none");
            $("#bookingItemForm").css("right","0");
   
            
            $("#bookingItemForm input").get(0).focus();
   
   
              var dataText = $("#calendar").datepicker('getDate');
   
              var date = $("#calendar").datepicker("getDate"); 
                    var dayOfWeek = daysOfWeek[date.getUTCDay()];
                    
   
                    var parts = dataText.split("/");
                    
                    //alert(parseInt(parts[1]));
                    $("#date").html( " →Nova Reserva: "+dayOfWeek + ", " + parts[0] + " de " + months[parseInt(parts[1])-1] + " ");
            alert();
            
           });
   
           $("#time").focus(function(){
            $(this).attr("placeholder","hh:mm-hh:mm");
           });
   
           $("#time").focusout(function(){
            $(this).attr("placeholder","");
           });
   
   
   
           //Atualizando view de items registrados
           $(".ui-state-active").trigger("click");
           $("#dateTitle").text( $("#bookingDate").val());
   
           
   
</script>