* { box-sizing:border-box; }


/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}


input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  border:none;
  border-bottom:1px solid rgba(0,0,0,.2) !important;
  width: 70% !important;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  width: 40%;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

#itemsAutocomplete{
  display: inline-block !important;
  width: 70%;
  margin: 0;
  float: left;
  margin-right: 1em;
}
#itemAm{
  width: 12% !important;
  text-align: center;
  padding: 0.3em;
  display: inline-block !important;
  margin: 0;
  margin-left: 1em;
  border: 1px solid rgba(0,0,0,.2) !important;

}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:13px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:''; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:rgba(0,0,0,.1); 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width: 70%; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#6bd9d0; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#6bd9d0; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#6bd9d0; }
  to 	{ width:0; background:transparent; }
}