
  <div class="hrLine"><%#= time_ago_in_words(output.created_at)%>Ontem</div>
  <div class="outputWidget">
    <div class="outputWidgetIcon"><p><%= output.value %></p></div>

    <p><%= output.title %></p>
  </div>
